<app-navbar></app-navbar>
<div class="p-4 mt-16 sm:ml-64">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
   
  
        <form [formGroup]="addPaymentForm">
            <div class="space-y-12">
            
        
              <div class="border-b border-gray-900/10 pb-12">
                <h2 class="text-base font-semibold leading-7 text-gray-900">İşlem Bilgileri</h2>
                <p class="mt-1 text-sm leading-6 text-gray-600">Use a permanent address where you can receive mail.</p>
          
                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                  <div class="sm:col-span-2">
                    <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Ad</label>
                    <div class="mt-2">
                      <input type="text" formControlName="name" name="first-name" id="first-name" autocomplete="given-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                  </div>
          
                  <div class="sm:col-span-2">
                    <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Soyad</label>
                    <div class="mt-2">
                      <input type="text" formControlName="surname" name="last-name" id="last-name" autocomplete="family-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                  </div>
                  
          
                  <div class="sm:col-span-2">
                    <label for="text" class="block text-sm font-medium leading-6 text-gray-900">Doktor Ad</label>
                    <div class="mt-2">
                      <input id="text" formControlName="doctor_name" name="email" type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                  </div>
             

                  <div class="sm:col-span-2">
                    <label for="salary" class="block text-sm font-medium leading-6 text-gray-900">Ücret (₺)</label>
                    <div class="mt-2">
                      <input type="number" formControlName="salary" name="slary" id="salary" placeholder="220" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                  </div>

                  <div class="sm:col-span-2">
                    <label for="date" class="block text-sm font-medium leading-6 text-gray-900">İşlem Tarihi</label>
                    <div class="mt-2">
                        <mat-form-field>
                            <input formControlName="date" matInput [matDatepicker]="dp3">
                            <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
                            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                          </mat-form-field>
                    </div>
                  </div>
                  
                  
          
                  <div class="col-span-4">
                    <label for="operations" class="block text-sm font-medium leading-6 text-gray-900">İşlemler</label>
                    <div class="mt-2">
                        <textarea id="operations" formControlName="operations" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="İşlem Bilgilerini Giriniz..."></textarea>
                    </div>
                  </div>
          
                
                </div>
              </div>
          
            
            </div>
          
            <div class="mt-6 flex items-center justify-end gap-x-6">
              <button type="button" class="text-sm font-semibold leading-6 text-gray-900">İptal</button>
              <button [disabled]="addPaymentForm.invalid" type="submit" (click)="onSubmit()" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Kaydet</button>
            </div>
          </form>
       
          
  
    </div>
  </div>